[submodule "cookbooks/apt"]
	path = cookbooks/apt
  url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/nat"]
	path = cookbooks/nat
	url = https://github.com/natlownes/nat-dotfiles-cookbook.git
